/////////////////////////
////
////  HEADER STYLESHEET
////
/////////////////////////


.header {

}

.header--main {
	@extend %container--fluid;

	&__content {
		@extend %container;
		@extend %flexbox;
		padding: 0.625em 0;
	}
}
