/////////////////////////
////
////  NAVIGATION STYLESHEET
////
/////////////////////////

.navigation {

}

.navigation--primary {
	@extend %align--vertical;
	@extend %col--sm--8;

	.list--navigation {
		@extend %align--vertical__box;
		float: right;

		&__item {
			display: inline-block;
		}
	}
}
