/////////////////////////
////
////  ANIMATIONS
////
/////////////////////////

@keyframes bounce {
  0% {bottom: 2em;}
  20% {bottom: 12em;}
  40% {bottom: 12em;}
  60% {bottom: 12em;}
  80% {bottom: 2em;}
}

@keyframes enter-frame {
	0% { transform: translate3d(0, -300px, 0) }
	50% { transform: translate3d(0, 0, 0) }
	100% { transform: translate3d(0, -300px, 0) }
}

@mixin swift-out($duration) {
	transition: all $duration cubic-bezier(.55, 0, .1, 1);
}

@mixin enter-frame($duration) {
	transition: all $duration cubic-bezier(.15, 1, .25, 1);
}

.circle {
	float: left;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: #f57844;
  margin: 0 20px;
}

.bounce {
  transform: translate3d(0, 0, 0);
  @include swift-out(800ms);

  &:hover {
		transform: translate3d(0, 100px, 0);
  }
}

.scale {
	@extend .z-depth--1;
	@include swift-out(800ms);

  &:hover {
		transform: scale(1.5);
  }
}

.increase-depth {
	@extend .z-depth--1;
	@include swift-out(800ms);

  &:hover {
  	@extend .z-depth--2;
  }
}

.transform {
	@extend .z-depth--1;
	@include swift-out(800ms);

  &:hover {
  	border-radius: 0;
  	transform: scale(1.5);
  }
}

.enter-frame {
	@extend .z-depth--1;
	animation: enter-frame 2200ms cubic-bezier(.15, 1, .25, 1) 200ms infinite;
}