/////////////////////////
////
////	FONTS STYLESHEET
////
/////////////////////////

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

body {
	font-family: 'Open Sans', sans-serif;
}

p {
	margin: 10px 0;
}
