/////////////////////////
////
////	GRID STYLESHEET
////
////	Styling for all device queries, device sizes and columns.
////
/////////////////////////


///////
//	DEFAULT DEVICE SIZES
///////

$small-min-width:					20rem !default;
$medium-min-width:				34.909em !default;
$large-min-width:					43.636em !default;
$large-large-min-width:		54.545em !default;

$small-max-width:					$medium-min-width;
$medium-max-width:				$large-min-width;
$large-max-width:					$large-large-min-width;


///////
//	GRID SETTINGS
///////

// Boolean for using percentage columns
$percentage-grid:					true !default;

// Amount of columns you want to use
$column-count:						12 !default;

// This margin is per col (total of both sides combined, so left 10px and right 10px = 20px)
$column-margin:						30px !default;

// Max width for wrap (default: 960px)
$wrap-width:							$medium-max-width !default;

// Size per column in pixels
$column-px-width:					$wrap-width / $column-count;

// Size per column in percentage
$column-percentage-width:	($column-px-width / $wrap-width) * 100%;

// First property declares the class name ('sm', 'md', 'lg'),
// the second sets the max-width the breakpoint is allowed to have
$devices: 								('sm', $medium-min-width),
													('md', $large-min-width),
													('lg', $large-large-min-width);


///////
//	GRID STYLING
///////

@mixin clearfix {
	*zoom: 1; // IE 6/7 fix

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.group {
	@include clearfix;
	margin: 0 $column-margin / -2;
}

%container {
	@include clearfix;
	width: 100%;
	max-width: $small-max-width;
	margin: 0 auto;
	padding: 0 $column-margin / 2;
	@media screen and (min-width: $medium-min-width) { max-width: $small-max-width; }
	@media screen and (min-width: $large-min-width) { max-width: $medium-max-width;	}
	@media screen and (min-width: $large-max-width) { max-width: $large-max-width; }

	&--fluid {
		width: 100%;
		float: left;
		clear: both;

		.group {
			margin: 0;
		}
		.container {
			padding: 0;
		}
	}
}

@if $percentage-grid {

	@for $column from 1 through $column-count {
		%offset--#{$column} {
			margin-left: $column * $column-percentage-width;
		}
	}
	@each $device, $max-width in $devices {

		@for $column from 1 through $column-count {
			%col--#{$device}--#{$column} {
				float: left;
				min-height: 1px;
				padding-left: $column-margin / 2;
				padding-right: $column-margin / 2;
				position: relative;
				width: ($column * $column-percentage-width);
				@media screen and (max-width: $max-width) {
					display: block;
					width: 100%;
					float: none;
					clear: both;
					margin: 0;
					@include clearfix;
				}
				img {
					max-width: 100%;
				}
			}
		}

	}

} @else {

	%col {
		margin-left: $column-margin / 2;
		margin-right: $column-margin / 2;
	}

	@for $column from 1 through $column-count {
		%col--#{$column} {	width: ($column * $colum-width) - $column-margin;	}
	}
}
