/////////////////////////
////
////  MIXINS & PLACEHOLD SELECTORS
////
/////////////////////////


///////
//  MIXINS
///////

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}


///////
//  VERTICALLY ALIGN BLOCKS
///////

%align--vertical {
	display: table;
	height: 100%;
}

%align--vertical__box {
	display: table-cell;
	vertical-align: middle;
}

%flexbox {
// Only use flexbox when the device is not mobile
// (do people use flexbox on mobile?)
@media all and (min-width: $medium-min-width) {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: flex-start;
}
}
