/////////////////////////
////
////  VARIABLES STYLESHEET
////
////  Variables, sprite imports, etc.
////  can be placed in this file.
////
/////////////////////////



$padding-vertical: 		10px !default;
$padding-horizontal: 	14px !default;

$font-size:						16px !default;
$font-margin: 				20px !default;

$color-base:					#fff;
$color-primary:				#ccc;



/// Base path for assets (fonts, images...),
$asset-base-path: '../assets' !default;

/// Asset URL builder
@function asset($type, $file) {
  @return url($asset-base-path + '/' + $type + '/' + $file);
}

/// Image asset helper
@function image($file) {
  @return asset('images', $file);
}

/// Font asset helper
@function font($file) {
  @return asset('fonts', $file);
}
