/////////////////////////
////
////	BASE STYLESHEET
////
////	Remember that all devices will load this file,
////	keep this file as small and simple as possible.
////
/////////////////////////


* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

a {
	color: $color-primary;
	text-decoration: none;
}

img {
	vertical-align: middle;
}
