/////////////////////////
////
////  BUTTONS STYLESHEET
////
/////////////////////////

$button-sizes:
	('xsmall', 12px)
,	('small', 14px)
, ('medium', 16px)
, ('large', 18px);

$buttons:
	('primary', $color-base, $color-primary)
,	('warning', $color-base, $color-warning)
, ('default', $color-base, $color-secondary)
, ('danger', $color-base, $color-danger)
, ('success', $color-base, $color-success)
, ('inverse', $color-base, $color-inverse)
, ('disabled', $color-base, $color-disabled);

.btn {
	cursor: pointer;
	display: block;
	float: left;
	padding: $padding-vertical ($padding-horizontal * 2);
	margin: 5px 0;
	border: none;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	outline: 0;
	user-select: none;
	border-radius: 4px;
	transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out, background 200ms ease-in-out;
}

@each $button-size, $font-size in $button-sizes {

	@each $button-name, $button-text-color, $button-bg-color in $buttons {

		.btn-#{$button-name}-#{$button-size} {
			@extend .btn;
			color: $button-text-color;
			background-color: $button-bg-color;
			border: 1px solid darken($button-bg-color, 10%);
			box-shadow: 0 1px 0 0 lighten($button-bg-color, 10%) inset, 0 -1px 0 0 lighten($button-bg-color, 5%) inset, 0 2px 0 0 darken($button-bg-color, 10%);

			&:hover,
			&:focus {
				background-color: lighten($button-bg-color, 5%);
				transform: translateY(1px);
				box-shadow: 0 1px 0 0 lighten($button-bg-color, 10%) inset,	0 -1px 0 0 lighten($button-bg-color, 5%) inset, 0 1px 0 0 darken($button-bg-color, 10%);
			}

			&:active {
				background-color: darken($button-bg-color, 2%);
				transform: translateY(2px);
				box-shadow: 0 1px 0 0 lighten($button-bg-color, 10%) inset,	0 -1px 0 0 lighten($button-bg-color, 5%) inset, 0 0 0 0 darken($button-bg-color, 10%);
			}
		}
	}
}

@each $button-size, $font-size in $button-sizes {

	@each $button-name, $button-text-color, $button-bg-color in $buttons {

		.btn-#{$button-name}-#{$button-size} {
			font-size: #{$font-size};
		}
	}
}

@each $button-size, $font-size in $button-sizes {

	.btn-disabled-#{$button-size} {
		cursor: not-allowed;
		background-color: $color-disabled;
		box-shadow: 0 1px 0 0 lighten($color-disabled, 10%) inset, 0 -1px 0 0 lighten($color-disabled, 5%) inset, 0 2px 0 0 darken($color-disabled, 10%);

		&:hover,
		&:focus {
			background-color: $color-disabled;
			transform: translateY(0);
			box-shadow: 0 1px 0 0 lighten($color-disabled, 10%) inset, 0 -1px 0 0 lighten($color-disabled, 5%) inset, 0 2px 0 0 darken($color-disabled, 10%);
		}

		&:active {
			background-color: $color-disabled;
			transform: translateY(0);
			box-shadow: 0 1px 0 0 lighten($color-disabled, 10%) inset, 0 -1px 0 0 lighten($color-disabled, 5%) inset, 0 2px 0 0 darken($color-disabled, 10%);
		}
	}
}
