/////////////////////////
////
////  FORMS STYLESHEET
////
/////////////////////////


input[type=text],
textarea,
select {
	width: 100%;
	padding: 6px;
	font-size: 14px;
	border: 1px solid #ADADAD;
	border-radius: 4px;

	&:focus {
		outline: 0;
		border-color: #47AFCF;
		box-shadow: 0 1px 3px 0 rgba(black, .2);
	}

	&:active {
		border-color: #B4D2DB;
	}
}

textarea {
	display: block;
	resize: vertical;
}

.form-list {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		display: block;
		float: left;
		clear: both;
		width: 100%;
		margin: 3px 0;
	}

	label,
	[type=text] {
		float: left;
	}

	> label:first-child {
		display: block;
		padding-right: 10px;
		word-break: break-word;
	}

	.radio-group,
	.checkbox-group {
		float: left;
	}

	.radio,
	.checkbox,
	select {
		cursor: pointer;
	}

	.radio,
	.checkbox {
		margin-right: 12px;

		input {
			float: left;
			margin: 5px 3px 4px;
		}
	}
}

.form-field {

	&.error {

		[type=text],
		textarea,
		select {
			border-color: $color-danger;
			background-color: lighten($color-danger, 40%);
		}

		.radio,
		.checkbox {
			color: $color-danger;
		}
	}

	label {
		padding-left: 0;
	}
}
