/////////////////////////
////
////  LIST STYLESHEET
////
/////////////////////////

%list--clear {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list--navigation {
	@extend %list--clear;

	&__item {
		position: relative;
		float: left;

		&:hover .list--navigation__sub {
			opacity: 1;
			max-height: 1000px;
		}

		> a {
			display: block;
			padding: 0 20px;
		}
	}

	&__sub {
		@extend %list--clear;
		z-index: 1;
		position: absolute;
		overflow: hidden;
		opacity: 0;
		max-height: 0;
		transform: translate3d(0, 0, 0);
		transition: max-height 200ms ease-in-out, opacity 300ms ease-in-out;

		&__item {
			background-color: $color-primary;
			font-size: 16px;
			line-height: 24px;

			> a {
				color: $color-base;
				display: block;
				padding: 6px 15px;
			}
		}
	}
}
