/////////////////////////
////
////  QUOTES STYLESHEET
////
/////////////////////////

blockquote {
	padding: 20px;
	margin: 0;
	background-color: #E8E9EB;

	p {
		margin: 0;
	}

	cite {
		display: inline-block;
		margin-top: 10px;
		padding-left: 10px;
		font-size: 14px;
		border-left: 2px solid black;
	}
}
